@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.theme.light {
  --bg-color: #e6edf8;
  --bg-lighter: #f9f9f9;
  --bg-darker:#eff4f9;
  --text-color: #000000;
  --filter-icon: brightness(0) invert(0);
  --bg-element: rgba(0, 0, 0, 0.08);
  --icon-hover: rgba(0, 0, 0, 0.1);
  --bg-taskbar: rgba(255, 255, 255, 0.9);
}
.theme.light .theme-btn {
  background-color: #0067c0;
}

.theme.dark {
  --bg-color: #242424;
  --bg-lighter: #2b2b2b;
  --bg-darker: #222222;
  --text-color: #f0f0f0;
  --filter-icon: brightness(0) invert(1);
  --bg-element: rgba(255, 255, 255, 0.08);
  --icon-hover: rgba(255, 255, 255, 0.1);
  --bg-taskbar: rgba(51, 51, 51, 0.9);
  --taskbar-icons-filter:invert(1);
}

body, .taskbar, .window {
  background-color: var(--bg-color);
  color: var(--text-color);
}